/*Mobile*/
@media (max-width: 767px) {
    .screen {
        display: none;
    }
        #mega_main_menu {
    	display: none;
    }
	.slideshow-text h3, .uk-h3 {
    font-size: 15px;
    line-height: 17px;
	}
	.slideshow-text {
    font-size: 11px;
    line-height: 13px;
	}
}


/*Screen*/
@media (min-width: 767px) {
    .mobile {
    	display: none;
    }
    /*Home Compare Prices*/
    .home-comparing-price-text {
    position: absolute;
    top: 35%;
    left: 68%;
    transform: translate(-50%, -50%);
    width: 30%;
    }
	.home .tm-block.top-teaser.tm-block-default {
    padding-top: 0px !important;
	}
}


/*Mobile Navigation*/
@media (max-width: 767px) {
    .uk-offcanvas .uk-panel {
    margin: 0px 0px 5px 0px;
   }
    .uk-panel.widget_search {
    padding-bottom: 15px;
  }
    .uk-accordion.uk-text-left {
    padding-top: 5px;
  }
}


/*Logos*/
.desktop-logo {
    width: 180px;
    height: auto;
}
.mobile-logo {
	width: 160px;
	height: auto;
}
.footer-logo {
    width: 200px;
    height: auto;
}

/*Nav Button*/
#menu-item-1004 .item_link.disable_icon {
    background: #000 !important;
	font-weight: bold !important;;
	font-size: 22px !important;
	color: #fff !important;
    border-radius: 20px;
	font-family: Ubuntu !important;
	font-weight: bold !important;
	border-color: #333 !important;

}
#menu-item-1004 .item_link.disable_icon:hover {
	    background: #95ca58 !important;
	font-weight: bold !important;;
	font-size: 22px !important;
	color: #000 !important;
    border-radius: 20px;
	font-family: Ubuntu !important;
	font-weight: bold !important;
	border: solid #000 2px !important;
    box-shadow: inset 0 0 10px 30px #95ca58 !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
#menu-item-1004 > a:nth-child(1) > span:nth-child(2) > span:nth-child(1):hover {
	color: #fff !important;
}
#menu-item-1004 > a:nth-child(1) > span:nth-child(2) > span:nth-child(1) {
	color: #fff !important;
}
.uk-link-reset:hover {
	color: #95ca58 !important;
}
/*Mega Main Menu*/
#mega_main_menu.main_menu {
    margin-top: 25px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width > .mega_dropdown {
    width: 1130px;
}

/*Home Services Images*/
.home .tm-block.top-b.tm-block-default .uk-overlay-panel {
    top: auto;
}

/*Home Compare Prices*/
.home-comparing-price-text h1 {
    color: #fff !important;
}

/*Home Why Choose DIYO*/
.fa {
    background: #fff;
    color:#96cb59;
    font-size: 20px !important;
}
.why-choose-us {
    font-size: 20px !important;
    color: #000;
    font-weight: bold;
    margin-bottom: 8px;
}
.tm-block.bottom-b.tm-block-default .uk-panel.uk-text-center.widget_custom_html {
    border-top: dotted;
}

/*About Page*/
.slideshow-text {
    color: #000;
}
.slideshow-text {
    color: #000;
    background: rgba(149,202,88,0.6);
    padding: 20px;
    border-radius: 10px;
}
/*Bottom Icosns*/
.bottom-icons .uk-h5.uk-margin-top-remove {
    color: #939291 !important;
    font-weight: 200;
}
.bottom-icons-new .uk-h5.uk-margin-top-remove {
    color: #939291 !important;
    font-weight: 200;
}
.bottom-icons-new {
    border-top: 1px solid rgba(0,0,0,.1);
        border-top-color: rgba(0, 0, 0, 0.1);
        border-top-style: solid;
        border-top-width: 1px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 7px -3px rgba(0,0,0,.2);
    padding-top: 8px;
    padding-bottom: 8px;
}

/*Contact*/
html .formcraft-css .powered-by {
    display: none !important;
}

/*Team*/
    .home-text-center-img hr {
    border-top: 2px solid #ce9900;
    width: 12%;
    }
    /*Home Explort Extended Features*/
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}
.caption:hover::before {
    background: transparent;
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.caption__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}
.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100%) );
            transform: translateY( calc(-100%) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}
.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.caption__overlay__title, .caption__overlay__content {
    color: #818181;
    font-weight: 300;
    padding: 15px 10px;
    text-align: center;
    font-size: 15px;
}
.caption__overlay, .caption__overlay__title {
    background: #f0f0f0;
}

/*Footer*/
.tm-block.footer-top.tm-block-default .uk-h4.uk-margin-top-remove {
	color : #5db267;
	text-transform: uppercase;
}
.tm-block.footer-top.tm-block-default hr {
    border-top: 2px solid #95ca58;
    width: 12%;
}
.tm-block.footer-top.tm-block-default a {
    color: #000;
}
.tm-block.footer-top.tm-block-default a:hover {
    color: #95ca58;
}
.tm-block.footer-top.tm-block-default {
	background: #eee;
}
.footer-content {
    font-size: 10px;
    width: 70%;
}
.footer-logos {
	width: 95px;
	height: auto;
}